.tools {
    padding: 3px;
    padding-top: 3px;
    cursor: pointer;
    &--container {
        display: grid;
        justify-content: center;
        align-items: center;
    }
    &--box {
        width: 34px;
        height: 34px;
        padding: 4px;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    &--box-on {
        width: 34px;
        height: 34px;
        padding: 4px;
        display: grid;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(180deg, #677880 0%, #909697 100%);
        border: 1px solid #3D474C;
    }
    &--box:hover {
        background-color: #939393;
    }
}
